.New-User-Div {
    display: grid;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 25%;
    height: auto;
    border-style: solid;
    border-width: thin;
}

h3 {
    text-align: center;
}

.New-User-Form {
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-weight: bold;
    place-self: center;
}

.update-form {
    font-style: italic;
}

#parent-div{
    display: flex;
}

#child-div-left{
    float: left;
    width: 20%;
}

#child-div-right{
    float: right;
    width: 80%;
    margin-left: 20rem;
}

th{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

td{
    font-family: monospace;
}