.New-User-Div {
    display: grid;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 25%;
    height: auto;
    border-style: solid;
    border-width: thin;
}

h3 {
    text-align: center;
}

.New-User-Form {
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-weight: bold;
    place-self: center;
}

.update-form {
    font-style: italic;
}
